<article>
  <dl>
    <% if ! comment.commenter.empty? %>
    <dt><%= comment.commenter %></dt>
    <% end %>
    <dd>
<%= simple_format(comment.body) %>

      <ul class="list-inline">
        <li><%= link_to '削除', [comment.article, comment], role: 'button', class: 'button size-sm',
          method: :delete,
          data: { confirm: '削除してもよろしいですか？' }
        %></li>
      </ul>
    </dd>
  </dl>
</article>
