<h1>記事一覧</h1>

<ul class="list-articles">
<%# render @articles %>
<%= render partial: @articles, spacer_template: "spacer" %>
</ul>

<%= react_component('CommentBox') %>

<hr>

<ul>
  <li><%= link_to 'トップページ', root_url %></li>
  <li><%= link_to '記事を作成', new_article_path %></li>
</ul>
