// _base.scss
// ==================================================



// Level 1
// --------------------------------------------------


// _________________________ Level 2

// _____ Level 3 _____

// Level 4

// _ Level 5

// __ Level 6



// Level 1
// --------------------------------------------------

body {
  margin: 0;
  font: 100%/1.25 Meiryo, "Hiragino Kaku Gothic Pro", "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  margin: 0 0 1rem;
  font-size: 24px;
}

h2 {
  margin: 0 0 .75rem;
  font-size: 18px;
}

p, ul, ol, dl {
  margin: 0 0 1rem;
}

ul, ol, dl {
  h2 {
    font-size: 20px;

    a { text-decoration: none }
  }
  h2,
  p,
  ul { margin-bottom: .5em }

  > :first-child { margin-top: 0 }
  > :last-child { margin-bottom: 0 }
}
ul { padding-left: 1.25em }

dt { font-weight: bolder }
dd {
  margin: .5em 0;
  + dt { margin-top: .75em }
}

input,
textarea { font: inherit }

input[type=text],
textarea {
  display: block;  // vertical-align で下にアキが出来る問題を解消
  box-sizing: border-box;
  border-radius: $border-radius-base;
  border: solid 1px $input-border-color;
  padding: .5em;
  width: 100%;

  resize: vertical;
}

.text-left { text-align: left }
.text-right { text-align: left }
