// _components.scss
// ==================================================

.button {
  display: inline-block;
  border-radius: 4px;
  border: solid 1px $color-border-base;
  padding: .25em .5em;
  background-color: #888;
  color: #fff;
  text-decoration: none;

  vertical-align: bottom;

  padding-right: .4em;

  line-height: 1.25;

  &.size-small { font-size: 13px }
}

.alert {
  $color: #c99;
  padding: 1em;
  border-radius: 6px;
  border: solid $color;
  background-color: rgba($color, .4);

  :first-child { margin-top: 0 }
  :last-child { margin-bottom: 0 }
}


@import "components/lists";


.article {
  header {
    overflow: hidden;

    h1 { float: left }
    ul {
      margin-top: 3px;
      text-align: right;
    }
  }

  .text {
    line-height: (23 / 16);
    white-space: pre;
  }
}

.block-comment,
.block-comment-add {
  margin: 2.5em 0;
  font-size: 14px;

  dd { white-space: pre }
}

.block-comment {
  .blc-heading {
    border: solid;
    border-width: 1px 0;
    padding: .5em;
  }
}

.block-comment-add {
  border-radius: $border-radius-base;
  border: solid 1px $color-border-base;
  padding: 1em 1.2em;

  .blc-heading {
    margin-bottom: .25em;
  }
  dt { color: #aaa }

  :first-child { margin-top: 0 }
  :last-child { margin-bottom: 0 }
}
