// _components.scss
// ==================================================

.button {
  $color: #888;

  display: inline-block;
  border-radius: 4px;
  border: solid 1px $color-border-base;
  outline: 0;
  padding: .25em .5em;
  background-color: $color;
  color: #fff;
  text-decoration: none;

  vertical-align: bottom;

  font-size: 14px;
  line-height: 1.25;

  cursor: pointer;

  &.size-sm { font-size: 12px }
  &.size-lg {
    padding: .5em .75em;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    background-color: lighten($color, 8%);
  }
  &:active {
    box-shadow: 0 .2em .3em -.1em #000 inset;
  }
}

.alert {
  $color: #c99;
  margin-bottom: 1rem;
  padding: 1em;
  border-radius: 6px;
  border: solid $color;
  background-color: rgba($color, .4);

  :first-child { margin-top: 0 }
  :last-child { margin-bottom: 0 }
}


.h2-block {
  margin: 2em 0 1rem;
  border: solid;
  border-width: 1px 0;
  padding: .5em;
}


@import "components/lists";


.article {
  header {
    overflow: hidden;

    h1 { float: left }
    ul {
      margin-top: .1em;
      text-align: right;
    }
  }

  .text {
    line-height: (23 / 16);
  }
}


.block-comments {
  font-size: 14px;

  article + article {
    $padding: 1rem;
    margin: $padding 0 0;
    padding-top: $padding;
    border-top: solid 1px $color-border-base;
  }
  dl { margin: 0 }
  dt { color: #6b96b3 }
}


.form-article {
  font-size: 14px;
  dt {
    color: #aaa;
    font-weight: bolder;
  }
  textarea { height: 15em }
}

.form-comment {
  margin: 1.5rem 0;
  border-radius: $border-radius-base;
  border: solid 1px $color-border-base;
  padding: 1em 1.2em;
  font-size: 14px;

  > .blc-heading {
    margin-bottom: .25em;
  }
  dt {
    color: #aaa;
    font-weight: bolder;
  }
  textarea { height: 5em }

  :first-child { margin-top: 0 }
  :last-child { margin-bottom: 0 }
}
