// _layouts.scss
// ==================================================

html,
body { height: 100% }

body {
  box-sizing: border-box;
  overflow-y: scroll;
  background-color: $color-body-background;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  min-height: 100%;

  transition: .5s;
  box-sizing: border-box;
  border: solid 0 transparent;

  @media (min-width: $screen-sm-min) {
    display: flex;
    border-width: 1em;
  }
}

main, .sub { box-shadow: $box-shadow }

main {
  flex-grow: 1;
  padding: 2.25rem 2.5rem;
  background-color: rgba(#fff, 1.75);

  > :first-child { margin-top: 0 }
  > :last-child { margin-bottom: 0 }
}

.sub {
  display: flex;
  margin-left: 1em;
  min-width: 240px;
  background-color: #f0f9ff;

  p { margin: auto }
}
