// _layouts.scss
// ==================================================

html,
body,
.container { height: 100% }

body { background-color: #f3f3f3 }

.container {
  display: flex;
  margin: 0 auto;
  max-width: 960px;
}

main {
  flex-grow: 1;
  padding: 1em;
  background-color: rgba(#fff, 1.75);
}

.sub {
  display: flex;
  margin-left: 1em;
  width: 240px;
  min-height: 3em;
  background-color: #f0f9ff;

  p { margin: auto }
}
